@import '../../../styles.scss';

.title {
  font-size: clamp(32px, 7.5vw, 128px);
  line-height: normal;
}

.slogan-wrapper {
  display: inline-flex;
  gap: 15px;
  align-items: center;

  .slogan {
    font-size: clamp(16px, 2.5vw, 32px);
    @include fade-in-right(3s);
  }

  .music-icon {
    font-size: clamp(16px, 2.5vw, 32px);
    color: $secondary-color;
    text-shadow: 1px -1px 10px $alternative-color;
    animation: fade-in 0.5s 2.5s both, beat 1.2s infinite;
  }
}

.link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}


